/* You can add global styles to this file, and also import other style files */
* {
  box-sizing: border-box;
}

html {
  height: 100%;
}

body {
  font-family: "Poppins", sans-serif;
  background: radial-gradient(circle at top left, #181023, #0b0519);
  color: #c3b3d8;
  margin: 0;
  padding: 0;
  height: 100%;
}

/* Para navegadores modernos (Chrome, Edge, Safari) */
::-webkit-scrollbar {
  width: 5px; /* Largura da barra vertical */
  height: 5px; /* Altura da barra horizontal */
}

::-webkit-scrollbar-track {
  background: #f7f7f756; /* Fundo da trilha */
  border-radius: 10px; /* Bordas arredondadas para suavizar */

}

::-webkit-scrollbar-thumb {
  background: #dcdcdcd1; /* Polegar da barra */
  border-radius: 10px; /* Bordas arredondadas para suavizar */
}



